body {
  font-size: 1.5em;
}

.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
  width: 100vw;
}

.one {
  background-image: url(ilovegdynialogo.png)
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  height: 60vh;
  width: 60vw;
}

.two {
  background-color:blueviolet ;
}

.three {
  background-color:hotpink ;
}

.four {
  background-color: #dd0000;
}

.main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main {
    display: block;
  }
  .main > div {
    height: 200px;
  }
}
