body {
  font-size: 1.5em;
}
.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}
.one {
   
  grid-area: 1/1/4/4;
  background-image: url(https://github.com/mnke-j/my_html/blob/master/Gdynia/ilovegdynialogo.png?raw=true);   
  background-size:contain;
  background-position: top left;
  }

.link{
  margin: 250px;
  text-align: center;
  }

.two {
  grid-area:1/4/5/6;
  background-image: url(http://g7.forsal.pl/p/_wspolne/pliki/1777000/1777567-gdynia.jpg);
  background-size:cover;
  background-position: top left;
}
.three {
  grid-area:4/1/7/3;
  background-image:url(https://images.unsplash.com/photo-1513738883496-ab16da46fbe0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cb7158d294f59cf73b854a6165a8b8c8&auto=format&fit=crop&w=600&q=60); 
  background-size:cover;
 
}
.four {
  grid-area:4/3/5/4;
  background-image: url(https://images.unsplash.com/photo-1513569369873-3f6af50652bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4b1a9bd2a3a0641bf963f4c22fe80da&auto=format&fit=crop&w=600&q=60);
}
.five {
  grid-area:5/3/7/6;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSEx09Y3Gtw2u7klsPxx9_kzgomSUdAIx35_YhZpPTPcDU-iMt);
  background-size:cover;
  background-position: top left;
}

.main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .main {
    display: block;
  }
  .main > div {
    height: 200px;
  }
}
